body {
  background-color: white;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
  margin: 0px;
}

.BigTitle {
  font-size: 50px;
}

.numberInput {
  background-color: transparent;
  border-color: transparent;
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

.canvas {
  background-color: white;
  margin: 0px;

}
